<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2272.32" targetFramework="net4" />
  <package id="cef.redist.x86" version="3.2272.32" targetFramework="net4" />
  <package id="CefSharp.Common" version="41.0.1" targetFramework="net4" />
  <package id="CefSharp.WinForms" version="41.0.1" targetFramework="net4" />
  <package id="ServiceStack" version="4.0.44" targetFramework="net4" />
  <package id="ServiceStack.Client" version="4.0.44" targetFramework="net4" />
  <package id="ServiceStack.Common" version="4.0.44" targetFramework="net4" />
  <package id="ServiceStack.Interfaces" version="4.0.44" targetFramework="net4" />
  <package id="ServiceStack.OrmLite" version="4.0.44" targetFramework="net4" />
  <package id="ServiceStack.Razor" version="4.0.44" targetFramework="net4" />
  <package id="ServiceStack.Redis" version="4.0.44" targetFramework="net4" />
  <package id="ServiceStack.Text" version="4.0.44" targetFramework="net4" />
  <package id="System.Web.Razor.Unofficial" version="2.0.2" targetFramework="net4" />
</packages>